process {
    withName:minimap2 {
        container = 'file:///data/bhargava/containers/minimap2.2.17.sif'
    }
    withName:minimap2rrna {
        container = 'file:///data/bhargava/containers/minimap2.2.17.sif'
    }
    withName:minimap2norrna {
        container = 'file:///data/bhargava/containers/minimap2.2.17.sif'
    }
    withName:bamprocess {
        container = 'file:///data/bhargava/containers/samtools.1.10.sif'
    }
    withName:flagstat {
        container = 'file:///data/bhargava/containers/samtools.1.10.sif'
    }
    withName:nanoplot {
        container = 'file:///data/bhargava/containers/nanoplot.1.33.sif'
    }
}

singularity {
    enabled = true
    autoMounts = true
}

tower {
  accessToken = 'eyJ0aWQiOiAzMjIxfS42NjJhZWVjOTNhZGU0NmQxMjY1OTFkZTA0NDI1ZGE0YWViZTNkMDk3'
  enabled = true
}
